/* Colors */

/*  13367D*/
/* E3F0F8 */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@media (min-width: 0px) {
  /* Navbar Starts */
  .main {
    border: 0.1px solid white;
    background-color: #e3f0f8;
  }

  .navbar {
    display: none;
  }
  .navbar.active {
    display: block;
    animation-name: animateNav;
    animation-duration: 0.4s;

    background-color: white;
    padding-top: 15px;
    position: absolute;
    width: 100%;
    z-index: 1;
  }

  .hero-section {
    position: relative;
  }
  .logoimg {
    width: 140px;
    /* border: 2px solid blanchedalmond; */
  }

  .logo-icon {
    display: flex;

    justify-content: space-between;
    margin: 20px;
  }
  .hamburg-menu {
    /* border: 2px solid gold; */
    padding-top: 10px;
    font-size: 1.8rem;
  }

  .nav-links li {
    list-style: none;
    font-size: 1.3rem;
    margin: 20px;
    text-align: center;
  }

  .nav-links li a {
    text-decoration: none;
    color: black;
  }
  .hr-style {
    border: 1px solid rgb(247, 243, 243);
  }

  .talk-btn {
    margin-top: 10px;
    width: 100%;
  }
  .talk-btn-cls {
    /* border: 1px solid rgb(228, 221, 207); */
    width: 100%;
    padding: 10px;
    border-radius: 1em;
    background-color: #13367d;
    color: white;
    font-size: larger;
    border: none;
  }

  @keyframes animateNav {
    from {
      opacity: 0;
      margin-top: 0px;
    }
    to {
      opacity: 1;
    }
  }
  /* Navbar Ends */

  .h1-header-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 130px;
    font-size: 2.7rem;
    color: #13367d;
  }

  .h2-header-1 {
    color: #13367d;
    text-align: center;
    line-height: 150%;
    padding-top: 30px;
    font-size: 1.5rem;
  }
  .cro {
    background-color: white;
  }
  .inhouse {
    background-color: white;
  }

  .p1 {
    padding: 40px 20px;
    font-size: 1.2rem;
    text-align: center;
    line-height: 140%;
  }

  .talk-btn-cls2 {
    /* border: 1px solid rgb(228, 221, 207); */
    width: 50%;
    padding: 10px;
    border-radius: 1em;
    background-color: #13367d;
    color: white;
    font-size: larger;
    border: none;
  }

  .btn2 {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
  /* Hero Section Ends */

  /* Campaign section starts */
  .campaign {
    background-image: url("./images/campaign.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-clip: padding-box;
    background-origin: content-box;
  }

  .campaign-heading-1 {
    font-size: 2rem;
    color: #13367d;
    text-align: center;
    padding-top: 70px;
  }

  .campaing-paragraph-1 {
    color: #13367d;
    font-size: 1.2rem;
    text-align: center;
    padding-top: 30px;
  }

  .campaign-partners ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    margin-top: 50px;
  }

  .campaign-partners ul li {
    list-style-type: none;
  }

  .campaign-number {
    margin-top: 20px;
    text-align: center;
  }

  .campaign-number .box {
    padding: 30px 0px;
  }

  .campaign-number h2 {
    color: #13367d;
    font-size: 2.5rem;
  }

  .campaign-number p {
    color: #13367d;
    font-size: 1.4rem;
    font-weight: bolder;
  }

  .campaign-heading-2 {
    text-align: center;
    margin: 20px 0px;
  }
  .campaing-paragraph-2 {
    text-align: center;
    margin: 20px 0px;
  }

  /* Testimonial starts */
  .testimonial {
    background-color: #f4f7fa;
  }

  .testimonial-h1 {
    color: #13367d;
    font-size: 1.7rem;
    text-align: center;
    padding: 20px 0px;
  }

  .testimonial-p {
    color: #13367d;
    text-align: center;

    margin-left: 10px;
    margin-bottom: 10px;
  }

  /* Slideshow container */
  .slideshow-container {
    position: relative;
    background: #f1f1f1f1;
  }

  /* Slides */
  .mySlides {
    display: none;
    padding: 80px;
    text-align: center;
    background-color: white;
  }

  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
  }

  q {
    font-style: italic;
  }

  /* Add a blue color to the author */
  .author {
    color: cornflowerblue;
  }
}

@media (min-width: 425px) {
  /* Navbar Starts */
  .main {
    border: 0.1px solid white;
    background-color: #e3f0f8;
  }

  .navbar {
    display: none;
  }
  .navbar.active {
    display: block;
    animation-name: animateNav;
    animation-duration: 0.4s;

    background-color: white;
    padding-top: 15px;
    position: absolute;
    width: 100%;
    z-index: 1;
  }

  .hero-section {
    position: relative;
  }
  .logoimg {
    width: 140px;
    /* border: 2px solid blanchedalmond; */
  }

  .logo-icon {
    display: flex;

    justify-content: space-between;
    margin: 20px;
  }
  .hamburg-menu {
    /* border: 2px solid gold; */
    padding-top: 10px;
    font-size: 1.8rem;
  }

  .nav-links li {
    list-style: none;
    font-size: 1.3rem;
    margin: 20px;
    text-align: center;
  }

  .nav-links li a {
    text-decoration: none;
    color: black;
  }
  .hr-style {
    border: 1px solid rgb(247, 243, 243);
  }

  .talk-btn {
    margin-top: 10px;
    width: 100%;
  }
  .talk-btn-cls {
    /* border: 1px solid rgb(228, 221, 207); */
    width: 100%;
    padding: 10px;
    border-radius: 1em;
    background-color: #13367d;
    color: white;
    font-size: larger;
    border: none;
  }

  @keyframes animateNav {
    from {
      opacity: 0;
      margin-top: 0px;
    }
    to {
      opacity: 1;
    }
  }
  /* Navbar Ends */

  .h1-header-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 130px;
    font-size: 2.8rem;
    color: #13367d;

    margin-left: 50px;
    margin-bottom: 30px;
  }

  .h2-header-1 {
    color: #13367d;
    text-align: center;
    line-height: 150%;
    padding-top: 30px;
    font-size: 2rem;
    max-width: 600px;
    margin: 0 auto;
  }
  .cro {
    background-color: white;
  }
  .inhouse {
    background-color: white;
  }

  .p1 {
    padding: 40px 20px;
    font-size: 1.2rem;
    text-align: center;
    line-height: 140%;
  }

  .talk-btn-cls2 {
    /* border: 1px solid rgb(228, 221, 207); */
    width: 200px;
    padding: 10px;
    border-radius: 1em;
    background-color: #13367d;
    color: white;
    font-size: larger;
    border: none;
  }

  .btn2 {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
  /* Hero Section Ends */
  /* Campaign section starts */
  .campaign {
    background-image: url("./images/campaign.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-clip: padding-box;
    background-origin: content-box;
  }

  .campaign-heading-1 {
    font-size: 2rem;
    color: #13367d;
    text-align: center;
    padding-top: 70px;
  }

  .campaing-paragraph-1 {
    color: #13367d;
    font-size: 1.2rem;
    text-align: center;
    padding-top: 30px;
  }

  .campaign-partners ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    margin-top: 50px;
  }

  .campaign-partners ul li {
    list-style-type: none;
  }

  .campaign-number {
    margin-top: 20px;
    text-align: center;
  }

  .campaign-number .box {
    padding: 30px 0px;
  }

  .campaign-number h2 {
    color: #13367d;
    font-size: 2.5rem;
  }

  .campaign-number p {
    color: #13367d;
    font-size: 1.4rem;
    font-weight: bolder;
  }

  .campaign-heading-2 {
    text-align: center;
    margin: 20px 0px;
  }
  .campaing-paragraph-2 {
    text-align: center;
    margin: 20px 0px;
  }

  /* Testimonial starts */
  .testimonial {
    background-color: #f4f7fa;
  }

  .testimonial-h1 {
    color: #13367d;
    font-size: 3rem;
    text-align: center;
    padding: 20px 0px;
  }

  .testimonial-p {
    color: #13367d;
    text-align: center;
    font-size: 1.2rem;
    margin-left: 10px;
    margin-bottom: 10px;
  }

  /* Slideshow container */
  .slideshow-container {
    position: relative;
    background: #f1f1f1f1;
  }

  /* Slides */
  .mySlides {
    display: none;
    padding: 80px;
    text-align: center;
    background-color: white;
  }

  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
  }

  q {
    font-style: italic;
  }

  /* Add a blue color to the author */
  .author {
    color: cornflowerblue;
  }
}

@media (min-width: 768px) {
  /* Navbar Starts */
  .main {
    border: 0.1px solid white;
    background-color: #e3f0f8;
  }

  .navbar {
    display: none;
  }
  .navbar.active {
    display: block;
    animation-name: animateNav;
    animation-duration: 0.4s;

    background-color: white;
    padding-top: 15px;
    position: absolute;
    width: 100%;
    z-index: 1;
  }

  .hero-section {
    position: relative;
  }
  .logoimg {
    width: 140px;
    /* border: 2px solid blanchedalmond; */
  }

  .logo-icon {
    display: flex;

    justify-content: space-between;
    margin: 20px;
  }
  .hamburg-menu {
    /* border: 2px solid gold; */
    padding-top: 10px;
    font-size: 1.8rem;
  }

  .nav-links li {
    list-style: none;
    font-size: 1.3rem;
    margin: 20px;
    text-align: center;
  }

  .nav-links li a {
    text-decoration: none;
    color: black;
  }
  .hr-style {
    border: 1px solid rgb(247, 243, 243);
  }

  .talk-btn {
    margin-top: 10px;
    width: 100%;
  }
  .talk-btn-cls {
    /* border: 1px solid rgb(228, 221, 207); */
    width: 100%;
    padding: 10px;
    border-radius: 1em;
    background-color: #13367d;
    color: white;
    font-size: larger;
    border: none;
  }

  @keyframes animateNav {
    from {
      opacity: 0;
      margin-top: 0px;
    }
    to {
      opacity: 1;
    }
  }
  /* Navbar Ends */

  .h1-header-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 50px;
    font-size: 3rem;

 
    max-width: 800px;
    margin: 0 auto;
    color: #13367d;
  }

  .h2-header-1 {
    color: #13367d;
    text-align: center;
    line-height: 150%;
    padding-top: 10px;
    font-size: 2rem;
   
  }
  .cro {
    background-color: white;
  }
  .inhouse {
    background-color: white;
  }

  .p1 {
    padding: 40px 20px;
    font-size: 1.2rem;
    text-align: center;
    line-height: 140%;
  }

  .talk-btn-cls2 {
    /* border: 1px solid rgb(228, 221, 207); */
    width: 200px;
    padding: 10px;
    border-radius: 1em;
    background-color: #13367d;
    color: white;
    font-size: larger;
    border: none;
  }

  .btn2 {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
  /* Hero Section Ends */
  /* Campaign section starts */
  .campaign {
    background-image: url("./images/campaign.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-clip: padding-box;
    background-origin: content-box;
  }

  .campaign-heading-1 {
    font-size: 2.5rem;
    color: #13367d;
    text-align: center;
    padding-top: 70px;
  }

  .campaing-paragraph-1 {
    color: #13367d;
    font-size: 1.4rem;
    text-align: center;
    padding-top: 30px;
  }

  .campaign-partners ul {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    margin: 50px auto;
  }

  .campaign-partners ul li {
    list-style-type: none;
  }

  .campaign-number {
    margin-top: 20px;
    text-align: center;
    display: flex;
  }

  .campaign-number .box {
    padding: 30px 0px;
  }

  .campaign-number h2 {
    color: #13367d;
    font-size: 2.5rem;
  }

  .campaign-number p {
    color: #13367d;
    font-size: 1.3rem;
    font-weight: bolder;
  }

  .campaign-heading-2 {
    text-align: center;
    font-size: 1.8rem;
    margin: 20px 0px;
  }
  .campaing-paragraph-2 {
    text-align: center;
    font-size: 1.3rem;
    margin: 20px 0px;
  }

  /* Testimonial starts */
  .testimonial {
    background-color: #f4f7fa;
  }

  .testimonial-h1 {
    color: #13367d;
    font-size: 3rem;
    text-align: center;
    padding: 20px 0px;
  }

  .testimonial-p {
    color: #13367d;
    text-align: center;
    font-size: 1.5rem;
    margin-left: 10px;
    margin-bottom: 40px;
  }

  /* Slideshow container */
  .slideshow-container {
    position: relative;
    background: #f1f1f1f1;
    width: 80%;
    margin: 0px auto;
  }

  /* Slides */
  .mySlides {
    display: none;
    padding: 80px;
    text-align: center;
    background-color: white;
  }
  .mySlides .qoute {
    font-size: 1.5rem;
  }

  .mySlides .author {
    padding: 10px 0px;
    font-size: 1.2rem;
  }

  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
  }

  q {
    font-style: italic;
  }

  /* Add a blue color to the author */
  .author {
    color: cornflowerblue;
  }
}

@media (min-width: 1024px) {
  /* Navbar Starts */
  .main {
    border: 0.1px solid white;
    background-color: #e3f0f8;
  }

  .navbar {
    display: block;

    margin-top: 10px;
    margin-right: 300px;
  }

  .hero-section {
    position: relative;
  }
  .logoimg {
    width: 200px;
  }

  .logo-icon {
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
  }
  .hamburg-menu {
    padding-top: 10px;
    font-size: 1.8rem;
    display: none;
  }

  .nav-links li {
    list-style: none;
    font-size: 1.3rem;
    margin: 20px;
    text-align: center;
  }

  .nav-links li a {
    text-decoration: none;
    color: black;
  }
  .hr-style {
    border: 1px solid rgb(247, 243, 243);
    display: none;
  }

  .talk-btn {
    margin-top: 10px;
    width: 100%;
  }
  .talk-btn-cls {
    /* border: 1px solid rgb(228, 221, 207); */
    width: 100px;
    padding: 10px;
    border-radius: 1em;
    background-color: #13367d;
    color: white;
    font-size: larger;
    border: none;
  }

  .navbar .nav-links {
    display: flex;
  }
  .large-screen-nav {
    display: flex;
    justify-content: space-between;
  }

  @keyframes animateNav {
    from {
      opacity: 0;
      margin-top: 0px;
    }
    to {
      opacity: 1;
    }
  }
  /* Navbar Ends */

  .h1-header-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 130px;
    font-size: 3rem;
    color: #13367d;

   
    max-width: 800px;
    margin: 0 auto;
  }

  .h2-header-1 {
    color: #13367d;
    text-align: center;
    line-height: 150%;
    padding-top: 30px;
    font-size: 2rem;
  }
  .cro {
    background-color: white;
  }
  .inhouse {
    background-color: white;
  }

  .p1 {
    padding: 40px 20px;
    font-size: 1.2rem;
    text-align: center;
    line-height: 140%;
  }

  .talk-btn-cls2 {
    /* border: 1px solid rgb(228, 221, 207); */
    width: 200px;
    padding: 10px;
    border-radius: 1em;
    background-color: #13367d;
    color: white;
    font-size: larger;
    border: none;
  }

  .btn2 {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
  /* Hero Section Ends */
  /* Campaign section starts */
  .campaign {
    background-image: url("./images/campaign.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-clip: padding-box;
    background-origin: content-box;
  }

  .campaign-heading-1 {
    font-size: 3.5rem;
    color: #13367d;
    text-align: center;
    padding-top: 70px;
  }

  .campaing-paragraph-1 {
    color: #13367d;
    font-size: 1.7rem;
    text-align: center;
    padding-top: 0px;
  }

  .campaign-partners ul {
    display: flex;
    width: 700px;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    margin: 0px auto;
  }

  .campaign-partners ul li {
    list-style-type: none;
  }

  .campaign-number {
    margin-top: 20px;
    text-align: center;
    display: flex;

    justify-content: space-evenly;
  }

  .campaign-number .box {
    padding: 30px 0px;
  }

  .campaign-number h2 {
    color: #13367d;
    font-size: 2.5rem;
  }

  .campaign-number p {
    color: #13367d;
    font-size: 1.3rem;
    font-weight: bolder;
  }

  .campaign-heading-2 {
    text-align: center;
    font-size: 1.8rem;
    margin: 20px 0px;
  }
  .campaing-paragraph-2 {
    text-align: center;
    font-size: 1.3rem;
    margin: 20px 0px;
  }
  /* Testimonial starts */
  .testimonial {
    background-color: #f4f7fa;
  }

  .testimonial-h1 {
    color: #13367d;
    font-size: 3rem;
    text-align: center;
    padding: 20px 0px;
  }

  .testimonial-p {
    color: #13367d;
    text-align: center;
    font-size: 1.9rem;
    margin-left: 10px;
    margin-bottom: 40px;
    width: 70%;
    margin: 0px auto;
  }

  /* Slideshow container */
  .slideshow-container {
    position: relative;
    background: #f1f1f1f1;
    width: 80%;
    margin: 10px auto;
  }

  /* Slides */
  .mySlides {
    display: none;
    padding: 80px;
    text-align: center;
    background-color: white;
  }
  .mySlides .qoute {
    font-size: 1.5rem;
  }

  .mySlides .author {
    padding: 10px 0px;
    font-size: 1.2rem;
  }

  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
  }

  q {
    font-style: italic;
  }

  /* Add a blue color to the author */
  .author {
    color: cornflowerblue;
  }
}

@media (min-width: 1440px) {
  /* Navbar Starts */
  .main {
    border: 0.1px solid white;
    background-color: #e3f0f8;
  }

  .navbar {
    display: block;

    margin-top: 10px;
    margin-right: 300px;
  }

  .hero-section {
    position: relative;
  }
  .logoimg {
    width: 200px;
  }

  .logo-icon {
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
  }
  .hamburg-menu {
    padding-top: 10px;
    font-size: 1.8rem;
    display: none;
  }

  .nav-links li {
    list-style: none;
    font-size: 1.3rem;
    margin: 20px;
    text-align: center;
  }

  .nav-links li a {
    text-decoration: none;
    color: black;
  }
  .hr-style {
    border: 1px solid rgb(247, 243, 243);
    display: none;
  }

  .talk-btn {
    margin-top: 10px;
    width: 100%;
  }
  .talk-btn-cls {
    /* border: 1px solid rgb(228, 221, 207); */
    width: 100%;
    padding: 10px;
    border-radius: 1em;
    background-color: #13367d;
    color: white;
    font-size: larger;
    border: none;
  }

  .navbar .nav-links {
    display: flex;
  }
  .large-screen-nav {
    display: flex;
    justify-content: space-between;
  }

  @keyframes animateNav {
    from {
      opacity: 0;
      margin-top: 0px;
    }
    to {
      opacity: 1;
    }
  }
  /* Navbar Ends */

  .h1-header-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 130px;
    font-size: 4rem;
    color: #13367d;

    max-width: 1100px;
    margin: 0 auto;
  }

  .h2-header-1 {
    color: #13367d;
    text-align: center;
    line-height: 150%;

    font-size: 2rem;
  }
  .cro {
    background-color: white;
  }
  .inhouse {
    background-color: white;
  }

  .p1 {
    padding: 40px 20px;
    font-size: 1.2rem;
    text-align: center;
    line-height: 140%;
    max-width: 900px;
    margin: 0 auto;
  }

  .talk-btn-cls2 {
    /* border: 1px solid rgb(228, 221, 207); */
    width: 200px;
    padding: 10px;
    border-radius: 1em;
    background-color: #13367d;
    color: white;
    font-size: larger;
    border: none;
  }

  .btn2 {
    display: flex;
    justify-content: center;
    padding: 50px 0px;
  }
  /* Hero Section Ends */
  /* Campaign section starts */
  .campaign {
    background-image: url("./images/campaign.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-clip: padding-box;
    background-origin: content-box;
  }

  .campaign-heading-1 {
    font-size: 3.5rem;
    color: #13367d;
    text-align: center;
    padding-top: 70px;
  }

  .campaing-paragraph-1 {
    color: #13367d;
    font-size: 1.7rem;
    text-align: center;
    padding-top: 30px;
  }

  .campaign-partners ul {
    display: flex;
    width: 1200px;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    margin: 55px auto;
  }

  .campaign-partners ul li {
    list-style-type: none;
  }

  .campaign-number {
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    text-align: center;
    margin-left: 450px;
  }

  .campaign-number .box {
    padding: 30px 0px;
  }

  .campaign-number h2 {
    color: #13367d;
    font-size: 4rem;
  }

  .campaign-number p {
    color: #13367d;
    font-size: 1.3rem;
    font-weight: bolder;
  }

  .campaign-heading-2 {
    text-align: center;
    font-size: 1.8rem;
    margin: 20px 0px;
  }
  .campaing-paragraph-2 {
    text-align: center;
    font-size: 1.3rem;
    margin: 20px 0px;
  }
  /* Testimonial starts */

  .testimonial {
    background-color: #f4f7fa;
  }

  .testimonial-h1 {
    color: #13367d;
    font-size: 3rem;
    text-align: center;
    padding: 20px 0px;
  }

  .testimonial-p {
    color: #13367d;
    text-align: center;
    font-size: 1.8rem;
    margin-left: 10px;
    margin-bottom: 40px;
    width: 50%;
    margin: 30px auto;
  }

  /* Slideshow container */
  .slideshow-container {
    position: relative;
    background: #f1f1f1f1;
    width: 80%;
    margin: 10px auto;
  }

  /* Slides */
  .mySlides {
    display: none;
    padding: 80px;
    text-align: center;
    background-color: white;
  }
  .mySlides .qoute {
    font-size: 1.5rem;
  }

  .mySlides .author {
    padding: 10px 0px;
    font-size: 1.2rem;
  }

  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
  }

  q {
    font-style: italic;
  }

  /* Add a blue color to the author */
  .author {
    color: cornflowerblue;
  }
}
